<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
<header>
      <a th:href=@{/index}><img th:src=@{imgs/logo.png} alt="Logo" id="logo" /></a>
      <nav class="navegation=container">
        <ul id="menu" role="menu">
          <li><a th:href="@{/index}">Home</a></li>
          <li><a href="#sobre">Sobre</a></li>
          <li><a href="#galeria">Galeria</a></li>
          <li><a href="#contato">Contato</a></li>
        </ul>
      </nav>
    </header>
</body>
</html>
