<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
<header>
      <a th:href=@{/index}><img th:src=@{imgs/logo.png} alt="Logo" id="logo" /></a>
      <nav class="navegation=container">
        <ul id="menu" role="menu">
          <li><a th:href="@{/index}">Home</a></li>
          <li><a href="#sobre">Sobre</a></li>
          <li><a href="#galeria">Galeria</a></li>
          <li><a href="#contato">Contato</a></li>
        </ul>
      </nav>
    </header>
      
       <div class="img-center">
      <div><img th:src=@{imgs/img-1.png} alt="Meisje met de parel" /></div>
    </div>

    <section id="sobre">
      <div class="container-sobre">
        <div>
          <h1>Bem vindo ao ARS.</h1>
          <p>
            “A ciência descreve as coisas como são; a arte, como são sentidas,
            como se sente que são.”
          </p>
          <br />
          <p>
            A história da arte começou há muito tempo atrás. O nosso museu tem
            por objetivo reconectar você com ela.
          </p>
        </div>
        <div>
          <img th:src=@{imgs/img-2.png} alt="O Grito" />
        </div>
      </div>
    </section>
      
      <section id="galeria">
      <span>
        <h2>Galeria</h2>
      </span>
      <div class="gallery-container">
        <div class="row-1">
          <img th:src=@{imgs/img-3.png} alt="Mulher com sombrinha" />
          <img th:src=@{imgs/img-6.png} alt="A grande onda de Kanagawa" />
        </div>

        <div>
          <img th:src=@{imgs/img-7.png} alt="O beijo" />
          <img th:src=@{imgs/img-8.png} alt="Terraço do Café na praça do Fórum" />
        </div>
      </div>
    </section>
      
      <section id="contato">
      <span>
        <h2>Contato</h2>
      </span>
      <div class="infos-container">
        <div class="infos-1">
          <h3>Entre em contato conosco</h3>
          <p>+55 (13) 4002 8922</p>
          <p>arscomercial@gmail.com</p>
        </div>
        <div class="infos-2">
          <h3>Onde estamos</h3>
          <p>Rua Tô perdido, 95</p>
          <p>Bairro - MuitoLonge - SP</p>
        </div>
        <div>
          <img th:src=@{imgs/img-9.png} alt="Escola de Atenas" />
        </div>
      </div>
    </section>
      
       <footer class="footer">
      <div class="footer-container">
      <div class="flex-container">
        <h3>Links úteis</h3>
        <span><a th:href=@{/index}>Home</a></span>
        <span><a href="#galeria">Galeria</a></span>
        <span><a href="#contato">Contato</a></span>
      </div>
      <div class="flex-container">
        <h3>Feito por</h3>
        <span><a href="#">Luca Clemente</a></span>
        <span><a href="#">Geovanne Costa</a></span>
      </div>
    </div>
    </footer>
</body>
</html>
