<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Error</title>
	<link rel="stylesheet" th:href="@{css/erro.css}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="img-center"><img th:src="@{imgs/Dog-Ate-big.png}"></div>
	<div class="text">
	<h1>Um cachorro comeu essa página</h1>
	<p>É... Parece que não foi possível mostrar essa página pois um cachorro comeu ela. Boa sorte na próxima!</p>
	</div>
</body>
</html>