<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{css/style.css}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
<script th:src="@{js/script.js}"></script>
<title>Home</title>
</head>
<body>
	<!-- Menu -->
	<header id="container-nav">
	<a id="logo" th:href="@{/index}">Logo</a>
		<nav id="navegacao">
		 <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">Menu
        <span id="hamburger"></span>
        </button>
			<ul id="menu" role="menu">
				<li>
					<a th:href="@{/sobre}">Sobre</a>
				</li>
				<li>
					<a th:href="@{/cardapio}">Cardapio</a>
				</li>
			</ul>
		</nav>
	</header>
</body>
</html>