<!DOCTYPE HTML>
<html xlmns="http//www.thymeleaf.org">
<head>
	<title>Cadastro de obras</title>
	<meta http-equiv="Content-Type" content="text/html; charset= UTF-8">
	<link rel="stylesheet" th:href="@{css/sucesso.css}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
	<h1>Obra cadastrada com sucesso!</h1>
</body>
</html>